rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Match any document in the {uid} collection
    match /{uid}/{document} {
      allow read: if request.auth != null && request.auth.uid == uid;
      allow write: if request.auth != null && request.auth.uid == uid;
    }
  }
}